SecurityPOC/force-app/main/default/flows/Guard_Assignment_Create_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>availableGuards</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_available_guards.Guard__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Guard_Coverage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guard_Coverage_Conflict_Found</name>
        <label>Guard Coverage Conflict Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGuardCoverageConflictFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_available_guards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Guards_Needed</name>
        <label>Number of Guards Needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfGuardsNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Event.Number_of_Guards_Needed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Time_Off_Conflict_Found</name>
        <label>Time-Off Conflict Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTimeOffConflictFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_available_guards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Counter</name>
        <label>Update Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAssignmentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter_Reached</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Counter_Reached</name>
        <label>Counter Reached?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_available_guards</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue loop</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignmentCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Current_Event.Number_of_Guards_Needed__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Guard_Coverage_Found</name>
        <label>Guard Coverage Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Guard_Coverage_Conflict_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Coverage Found</defaultConnectorLabel>
        <rules>
            <name>No_Coverage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Guard_Coverage</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_list</targetReference>
            </connector>
            <label>No Coverage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Off_Found</name>
        <label>Time-Off Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Time_Off_Conflict_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Time Found</defaultConnectorLabel>
        <rules>
            <name>No_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Time_Off_Requests</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guard_Coverage</targetReference>
            </connector>
            <label>No Time</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varWeekEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
  TEXT(DATEVALUE({!varWeekStartDateTime}) + 6) + &quot; 23:59:59&quot;
)</expression>
    </formulas>
    <formulas>
        <name>varWeekStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
  TEXT(DATEVALUE({!Current_Event.Event_Start_Date__c} - 
    MOD(
      WEEKDAY(DATEVALUE({!Current_Event.Event_Start_Date__c})) - 1,
      7
    )
  )) + &quot; 00:00:00&quot;
)</expression>
    </formulas>
    <interviewLabel>Guard Assignment: Create Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Guard Assignment: Create Assignments</label>
    <loops>
        <name>Get_available_guards</name>
        <label>Get available guards</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Location_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Time_Off_Requests</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Guard_Coverage</name>
        <label>Create Guard Coverage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Current_Event.Event_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Events__c</field>
            <value>
                <elementReference>Current_Event.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guard__c</field>
            <value>
                <elementReference>Get_available_guards.Guard__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Current_Event.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Current_Event.Event_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Guard_Coverage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Current_Event</name>
        <label>Current Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Guards_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Events__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Event_Start_Date__c</queriedFields>
        <queriedFields>Event_End_Date__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Number_of_Guards_Needed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Guard_Coverage</name>
        <label>Guard Coverage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Guard_Coverage_Found</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR (3 AND 4)) AND 5</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Current_Event.Event_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Current_Event.Event_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Current_Event.Event_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Current_Event.Event_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Guard__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_available_guards.Guard__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Guard_Coverage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Location_Assignments</name>
        <label>Location Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_available_guards</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Event.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Guard__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Time_Off_Requests</name>
        <label>Time-Off Requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Time_Off_Found</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR (3 AND 4)) AND 5</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Current_Event.Event_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Current_Event.Event_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Current_Event.Event_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Current_Event.Event_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_available_guards.Guard__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Off_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>availableGuards</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>setGuardCoverageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_available_guards.Guard__r.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAssignmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGuardCoverageConflictFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varNumberOfGuardsNeeded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Current_Event.Number_of_Guards_Needed__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTimeOffConflictFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
